body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFA000;
    color: white;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    background-color: #FFC107;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #FFA000;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.column {
    width: calc(100% - 20px);
    margin: 20px;
  align-self: center;
  justify-self: center;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0.1);
    border-radius: 20px;
    height: 250px;
}


  

@media (max-width: 768px) {
    .articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .column {
    float: left;
    width: calc(50% - 20px);
     margin: 20px;
    }


 }



 